<div class="card mt-5">
    <div class="card-header">
        <a href="/{{id}}"><h3 class="card-title">{{title}}</h3></a>
        <h5 class="card-subtitle">{{subtitle user.name posted}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
</div>