<div class="card mt-1">
    <div class="card-header">
        <h6 class="card-subtitle">{{subtitle user.name posted}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
</div>