<div class="card mb-5">
    <div class="card-header">
        <a href="/{{id}}" style="text-decoration: none;"><h3 class="card-title">{{title}}</h3></a>
        <h5 class="card-subtitle">{{subtitle user.name posted}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text text-truncate d-inline-block" style="max-width: 100%;">{{text}}</p>
    </div>
</div>