<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{post.title}}</h3>
        <h5 class="card-subtitle">{{subtitle post.user.name post.posted}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{post.text}}</p>
    </div>
</div>
<div class="container mt-3">
    <h3>Comments</h3>
    {{#each post.comments as |comment|}}
    {{>blog-comment}}
    {{/each}}
    <button class="btn btn-primary text-center mt-1 mx-auto d-block" id="comment-button">Leave a comment</button>
    <div class="card invisible" id="comment-form">
        <div class="card-header">
            <h6 class="card-title">Leave a comment</h6>
        </div>
        <div class="card-body">
            <form id="new-comment">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="text" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-1 d-block mx-auto">Comment</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>